@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

html {
    box-sizing: border-box;
}

a:link { /* removes underline from links */
    text-decoration: none; 
}

a:hover{/*changes color of anchor tags(links) text when you hover over them. Background-color creates color box*/
    color: green;
}

h1 {
    color: rgb(119, 212, 119);
}

a {
    color: rgb(7, 151, 7);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow',sans-serif;
}

main {
    padding: 16px;
}

footer {
    margin: 24px;
    position: absolute;
    bottom: -10;
    width: 100%;
    background-color: rgb(119, 212, 119);
    padding: 30px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px ridge black;
    padding: 16px;
    background-color: rgb(210, 60, 5);
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 30px -20px 12px rgb(119, 212, 119);
}

nav a {
    color: white;
}

tr:nth-of-type(even) {
    background-color: rgb(183, 183, 183);
}
